.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin: 0 auto 26px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 auto 27px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
    margin: 0 auto 25px;
    padding: 0 16px 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    padding: 0;
  }
}